body{
    background-color: rgba(92, 37, 245, 0.6);
    margin: 50px;
    padding: 30px;
    border: 10px;
    border-style: solid;
}
p{
    background-color: rgb(47, 0, 255);
    padding: 20px;
    margin: 15px;
    border: 5px;
    border-style: dashed;
}
.uno{
    background-color: rgb(110, 81, 26);
}